    <script src="/js/user_layout/search_popup.js" type="text/babel"></script>
    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
       
    </div>
    <!-- search popup end-->
    