<script src="/js/ul_parts/banner-inner.js" type="text/babel"></script>
<script src="/js/ul_parts/banner-under.js" type="text/babel"></script>
<!-- banner area start -->
<div class="banner-area banner-inner-1 bg-black" id="banner">
    <div class="banner-inner pt-5" id="banner-inner"></div>
    <div class="container" id="banner-under"></div>
</div>
<!-- banner area end -->