<script src="js/ul_parts/topbar-area.js" type="text/babel"></script>
<script src="js/ul_parts/adbar-area.js" type="text/babel"></script>
<script src="js/ul_parts/navbar.js" type="text/babel"></script>
<!-- header start -->
<div class="navbar-area">
    <div class="topbar-area" id="topbar-area"></div>
    <div class="adbar-area bg-black d-none d-lg-block" id="adbar-area"></div>
    <div class="navbar navbar-expand-lg" id="navbar"></div>
</div>
<!-- navbar end -->