<div class="col-lg-3 col-md-6">
    <div class="section-title">
        <h6 class="title">What’s new</h6>
    </div>
    <div class="post-slider owl-carousel">
        <div class="item">
            <div class="single-post-wrap">
                <div class="thumb">
                    <img src="assets/img/post/8.png" alt="img">
                </div>
                <div class="details">
                    <div class="post-meta-single mb-4 pt-1">
                        <ul>
                            <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                            <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                        </ul>
                    </div>
                    <h6 class="title"><a href="#">Uttarakhand’s Hemkund Sahib yatra to start from September
                            4</a></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="single-post-wrap">
                <div class="thumb">
                    <img src="assets/img/post/8.png" alt="img">
                </div>
                <div class="details">
                    <div class="post-meta-single mb-4 pt-1">
                        <ul>
                            <li><a class="tag-base tag-blue" href="#">Tech</a></li>
                            <li><i class="fa fa-clock-o"></i>08.22.2020</li>
                        </ul>
                    </div>
                    <h6 class="title"><a href="#">Uttarakhand’s Hemkund Sahib yatra to start from September
                            4</a></h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
    </div>
</div>