<div class="col-lg-3 col-sm-6">
    <div class="single-post-wrap">
        <div class="thumb">
            <img src="assets/img/post/10.png" alt="img">
            <p class="btn-date"><i class="fa fa-clock-o"></i>08.22.2020</p>
        </div>
        <div class="details">
            <h6 class="title"><a href="#">Rocket Lab will resume launches no sooner than</a></h6>
        </div>
    </div>
    <div class="single-post-wrap">
        <div class="thumb">
            <img src="assets/img/post/11.png" alt="img">
            <p class="btn-date"><i class="fa fa-clock-o"></i>08.22.2020</p>
        </div>
        <div class="details">
            <h6 class="title"><a href="#">P2P Exchanges in Africa Pivot: Nigeria and Kenya the</a></h6>
        </div>
    </div>
</div>