<div class="col-lg-3 col-sm-6">
    <div class="single-post-wrap">
        <div class="thumb">
            <img src="assets/img/post/12.png" alt="img">
            <p class="btn-date"><i class="fa fa-clock-o"></i>08.22.2020</p>
        </div>
        <div class="details">
            <h6 class="title"><a href="#">Bitmex Restricts Ontario Residents as Mandated by</a></h6>
        </div>
    </div>
    <div class="single-post-wrap">
        <div class="thumb">
            <img src="assets/img/post/13.png" alt="img">
            <p class="btn-date"><i class="fa fa-clock-o"></i>08.22.2020</p>
        </div>
        <div class="details">
            <h6 class="title"><a href="#">The Bitcoin Network Now 7 Plants Worth of Power</a></h6>
        </div>
    </div>
</div>