<div class="col-lg-3 col-sm-6">
    <div class="single-post-wrap style-overlay">
        <div class="thumb">
            <img src="assets/img/post/19.png" alt="img">
            <a class="tag-base tag-red" href="#">Tech</a>
        </div>
        <div class="details">
            <div class="post-meta-single">
                <p><i class="fa fa-clock-o"></i>08.22.2020</p>
            </div>
            <h6 class="title"><a href="#">Lifting Weights Makes Your Nervous</a></h6>
        </div>
    </div>
</div>