<div class="post-area pd-top-75 pd-bottom-50" id="trending">
    <div class="container">
        <div class="row">
            <%-include('r2c1')%>
            <%-include('r2c2')%>
            <%-include('r2c3')%>
            <%-include('r2c4')%>              
        </div>
    </div>
</div>