<div class="bg-sky pd-top-80 pd-bottom-50" id="latest">
    <div class="container">
        <div class="row">
           <%-include('r3c1')%>
           <%-include('r3c2')%>
           <%-include('r3c3')%>
           <%-include('r3c4')%>        
        </div>
    </div>
</div>